/*
 * discord css to fix dumb stuff they changed in the march 2025 ui update
 * by milo256
 */


/* TOP BAR STUFF */
/* delete the top bar */
:root { --custom-app-top-bar-height: 0; }

/* move the inbox and help buttons which were in
 * the top bar before */
.visual-refresh .trailing_c38106 {
    background-color: var(--background-secondary);
    border-radius: 0 0 var(--radius-sm) var(--radius-sm);
    border: 1px solid var(--input-border);
    border-top-color: var(--border-subtle);
    position: relative;
    gap: var(--space-4);
    padding: 2px 4px 0 4px;
    z-index: 105;
    transform: translate(4px, 64px);
}
/* shrink the unread messages bar to accommodate the inbox
 * and help buttons */
.visual-refresh .barBase__0f481 {
    right: calc(var(--space-16) + 76px);
}


/* MESSAGE BOX STUFF */
/* shrink the message box */
:root { --custom-channel-textarea-text-area-height: 40px; }
.channelTextArea_f75fb0 .attachButton__0923f {
    padding-left: 8px !important;
}
.buttons__74017 {
    margin-right: -6px !important;
    gap: 2px !important;
}
/* make typing indicator display above message box*/
.visual-refresh .form_f75fb0 {
    background-color: inherit;
    display: flex;
    flex-direction: column-reverse;
}
.channelBottomBarArea_f75fb0 > * {
    margin-bottom: var(--space-xs);
}
/* restyle typing indicator */
.typing_b88801 {
    position: relative;
    left: 0 !important;
    margin-top: -4px;
    bottom: -4px;
    padding-left: var(--space-16);
    padding-right: var(--space-8);
    padding-bottom: 6px;
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
    border: 1px solid var(--input-border);
    border-bottom: none;
}
/* add a border to the message box */
.channelTextArea_f75fb0 {
    border-color: var(--input-border);
}
/* decrease the space between the latest message and
 * the message box */
.scrollerSpacer__36d07 { height: 16px !important; }


/* USER PANEL */
/* restyle user panel */
.container__2637a {
    padding-bottom: 0px;
}
.visual-refresh .panels_c48ade {
    border: none;
    border-top: 1px solid var(--input-border);
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-radius: 0;
}
/* remove gap between user panel and stuff above it */
.wrapper_ef3116, .scroller__99e7c {
    margin-bottom: var(--custom-app-panels-height) !important;
}
.scroller__629e4 {
    margin-bottom: 0px !important;
}


/* MISC */
/* resize server list icons */
:root {
    --custom-guild-list-width: 55px;
}
.expandedFolderBackground__48112 {
    left: 4px !important;
    width: calc(100% - 8px);
}
/* add spacing above the discord button in the top left */
.visual-refresh .scroller_ef3116 {
    padding-top: var(--space-sm);
}
/* remove rounded corner and top border of the main content area */
.sidebarList_c48ade {
    border-top-left-radius: 0px !important;
    border-top: none !important;
}
.chat_f75fb0 {
    border-top: none !important;
}
